@let posts = posts$ | async;
@let error = error$ | async;
@let loading = loading$ | async;

<p>Has Error: {{ error ?? 'no error' }}</p>

<div class="posts-container">
  <ul>
    @if (!loading) {
      @for (post of posts; let last = $last; track post.id) {
        <app-post
          (appScrollIntoView)="last && onScrollIntoView()"
          [post]="post"
          [loading]="loading"
          (changeSelectPost)="handleSelectPost($event)" />
      }
    } @else {
      <app-post [loading]="loading" />
    }
  </ul>
</div>
