.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.navigation {
  @apply mb-12 flex list-none justify-around;
}

.navigation-link {
  @apply cursor-pointer rounded-lg p-3 text-purple-600 hover:bg-purple-600 hover:text-white;
}
